/* Colors */
:root {
    --color-default-: ;
    --color-primary-: ;
    --color-secondary-: ;
    --color-tertiary-: #1F4068;
    --color-4-: #E43F5A;
    --color-5-: #162447;
    --color-bg-: #000000;
    --color-secondary-bg-:#4c4d4d;
}
/* -------------------------------------------------------------- */

 */
:root {
    scroll-behavior: smooth;
  }

/* -------------------------------------------------------------- */

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--color-bg-);
    color: white;
}

.hero {
    margin-top: 6rem;
}

#profile-photo {
    border-radius: 100%;
    user-select: none;
}

.btn-downloadcv {
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
}

.btn-github,
.btn-linkedin {
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}

a {
    text-decoration: underline;
    color: white;
}

.skills,
.featured,
.infoschol,
.ebeyonds,
.cuttingedge24 {
    background-color:#181818;
    margin: 5rem 0;
}

.projects,
.contact {
    margin: 5rem 0;
}

.project-item {
    background-color:#181818;
}

.external-icon {
    margin-left: 5px;
    width: 20px;
    height: auto;
    user-select: none;
}