/* Colors */
:root {
    --color-default-: ;
    --color-primary-: ;
    --color-secondary-: ;
    --color-tertiary-: #1F4068;
    --color-quaternary-: #E43F5A;
    --color-bg-: #162447;
}
/* -------------------------------------------------------------- */

 */
:root {
    scroll-behavior: smooth;
  }

/* -------------------------------------------------------------- */

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--color-bg-);
    color: white;
}

